@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&family=Inter:wght@100;200;400;500;600&family=Jost:wght@100;200;300;400;500;600;700;800&display=swap");

$primary: #efefef;
$secondary: #b04600;
$color: #1e1e1e;

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: $color;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
.nav__bar__btn__menu {
  display: none;
  align-items: center;
}
.nav__btn {
  border: none;
  background-color: #b04600;
  border-radius: 6px;
  padding: 8px;
}

.header__nav__bar__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}

.nav__bar__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4em 3em;
  position: fixed;
  background-color: $primary;
  z-index: 999;
}
.nav__bar__wraper__active {
  background-color: $primary;
}
.nav__bar__logo img {
  height: 60px;
}
.nav__bar__contant {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__contant__links {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: 1.4em 1em;
  border-bottom-right-radius: 20px;
  color: black;
  margin: 0px 12px;
}
.nav__contant__links:hover {
  background-color: $secondary;
  color: white;
}
.nav__bar__contant .active {
  background-color: $secondary;
  color: white;
}
.landing__main__banner {
  width: 100%;
  position: relative;
  height: fit-content;
  padding-top: 5em;
}
.landing__main__banner video {
  width: 100%;
  max-height: 600px;
}
.main__video__btn__container {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__video__btn {
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b04600;
  border-radius: 80px;
  border: none;
  position: relative;
  cursor: pointer;
}
.main__video__btn::before {
  position: absolute;
  content: "";
  background-color: #b04600;
  opacity: 0.4;
  height: 140px;
  width: 140px;
  border-radius: 80px;
  z-index: -0.7;
}
.main__video__btn svg {
  height: 40px;
}
.landing__about__section {
  width: 100%;
  position: relative;
}
.landing__about__section__overlay {
  width: 100%;
}
.landing__about__section__overlay img {
  width: 100%;
  height: 700px;
  opacity: 1;
}
.about__overlay__contant__wraper {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 10%;
  left: 0;
  right: 0;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0em 2em;
}
.about__overlay__laft__contant {
  width: 50%;
}
.about__overlay__laft__contant__heading__upper {
  font-size: 24px;
  font-weight: 600;
  color: $secondary;
  position: relative;
}
.about__overlay__laft__contant__heading__upper::after {
  position: absolute;
  content: "";
  top: 50%;
  left: -14%;
  height: 4px;
  width: 90px;
  border-radius: 20px;
  background-color: $secondary;
}
.about__overlay__laft__contant__heading {
  font-size: 34px;
  font-weight: 600;
  width: 55%;
  line-height: 36px;
  margin-bottom: 12px;
}
.about__overlay__laft__contant__sub__heading {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}
.about__overlay__right__contant {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__overlay__right__contant img {
  width: 400px;
  position: relative;
}
.about__overlay__right__contant::after {
  position: absolute;
  content: "";
  background-color: #c7ac9f;
  top: 2%;
  right: 20%;
  width: 280px;
  height: 96%;
  opacity: 0.2;
  z-index: -99;
}
.about__overlay__right__contant::before {
  position: absolute;
  content: "";
  border: 2px solid $secondary;
  top: 8%;
  right: 29%;
  width: 200px;
  height: 94%;
  opacity: 0.2;
  z-index: -99;
}
.landing__product__container {
  width: 100%;
  position: relative;
}

.landing__product__container__img img {
  width: 100%;
  height: 400px;
}
.products__contant__wraper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}
.products__contant__wraper__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -4em;
}
.products__contant__wraper__logo img {
  height: 120px;
}
.products__overlay__contant__wraper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
}
.products__contant__wraper__heading {
  font-size: 26px;
  font-weight: 600;
  color: $primary;
  margin-top: 3.5em;
  margin-bottom: 2em;
}
.products__contant__wraper__cards__containaer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.products__contant__wraper__card {
  width: 20%;
  background-color: $primary;
  padding: 2.5em 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom-right-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin: 12px;
}
.products__contant__wraper__card:hover {
  background-color: $secondary;
  color: $primary;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 0px;
  transition: 0.3s ease-in-out;
}
.products__contant__wraper__card:hover * {
  color: $primary;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 0px;
}
.products__contant__wraper__card__svg svg {
  margin-top: 1em;
  height: 70px;
}
.products__contant__wraper__card__heading {
  font-size: 17px;
  font-weight: 600;
  margin: 14px 0px;
}
.products__contant__wraper__card__sub__heading {
  font-size: 14px;
  line-height: 17px;
}
.landing__services__section {
  position: relative;
  width: 100%;
  margin-top: 10em;
}
.landing__services__container {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.landing__services__section img {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: flex-end;
}
.landing__services__section__heading {
  font-size: 30px;
  font-weight: 700;
  margin: 2em 0em;
}
.services__cards__container {
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services__card__wraper {
  position: relative;
}

.services__card__wraper img {
  min-width: 220px;
  height: 420px;
  border-radius: 8px;
}
.services__card__contant {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  transition: 300ms ease-in-out;
  cursor: pointer;
}
.services__card__contant:hover * {
  width: 100%;
  display: flex;
  transition: 500ms ease-in-out;
  transform: translateY(-10px);
  background-color: #1e1e1e;
  opacity: 0.5;
  padding: 1em;
}
.services__card__heading {
  font-size: 20px;
  color: $primary;
  padding: 1em;
  line-height: 22px;
  font-weight: 500;
}
.services__card__sub__heading {
  font-size: 14px;
  color: $primary;
  padding: 1em 0.4em 2em 0.4em;
  line-height: 16px;
  display: none;
}
.sustain__section {
  width: 100%;
  position: relative;
}
.sus__right__bg__img {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.sus__right__bg__img img {
  height: 750px;

  z-index: -1;
}
.sustain__overlay__contant__wraper {
  position: absolute;
  top: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0em 3em;
  left: 0;
  right: 0;
  max-width: 1440px;
  margin: 0 auto;
}
.sus__contant__wraper {
  width: 60%;
}
.sustain__section__contant {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sustain__section__contant__heading {
  font-size: 30px;
  color: $secondary;
  font-weight: 700;
  padding: 12px 0px;
}
.sustain__section__contant__sub__heading {
  font-size: 18px;
  line-height: 20px;
}
.sustain__section__contant__sub__heading__points {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  padding-left: 1em;
}
.sustain__section__contant__sub__heading__points__item {
  margin: 12px 0px;
  font-size: 16px;
  position: relative;
}
.sustain__section__contant__sub__heading__points__item::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 20px;
  background-color: $secondary;
  left: -18px;
  top: 7px;
}
.sustain__section__img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sustain__section__img img {
  height: 650px;
}
.quotation__about__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  padding: 0em 1em;
}
.qua__img__left {
  position: relative;
  margin-right: -2em;
  z-index: 1;
}
.qua__img__left img {
  height: 400px;
}
.qua__right__contant {
  position: relative;
}

.qua__overlay img {
  height: 370px;
}
.qua__contant__text {
  position: absolute;
  top: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  padding: 1em 2em;
}
.qua__right__contant__heading {
  font-size: 28px;
  font-weight: 600;
  width: 80%;
  line-height: 30px;
  text-align: center;
}
.qua__right__contant__heading span {
  color: $secondary;
}
.qua__right__contant__sub__heading {
  font-size: 16px;
  text-align: center;
  line-height: 16px;
}
.footer__containe {
  background-color: $secondary;
}
.about__main__container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 5em;
}
.about__main__banner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__main__banner__video {
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #b04600;
  opacity: 1;
}
.about__section__container {
  width: 100%;
  position: relative;
}
.about__section__container__bg {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.about__section__container__bg img {
  height: 500px;
}
.about__section__container__right__contant {
  width: 50%;
}
.about__section__wraper {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  max-width: 1440px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.about__section__container__img {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 14px;
}
.about__section__container__img::after {
  position: absolute;
  content: "";
  background-color: #e8e8e8;
  bottom: 0%;
  right: 3%;
  width: 100%;
  height: 200px;
  z-index: -999;
  border-top-right-radius: 30px;
}
.about__section__container__img::before {
  position: absolute;
  content: "";
  background-color: $secondary;
  border-top-right-radius: 30px;
  bottom: 0%;
  right: 3%;
  width: 100%;
  height: 160px;
  z-index: 0;
}

.about__section__container__img img {
  height: 350px;
  z-index: 99;
  padding-right: 2em;
}
.about__section__container__right__contant {
  width: 50%;
}
.about__section__container__right__contant__heading {
  font-size: 30px;
  font-weight: 800;
  padding: 0.6em 0em;
  line-height: 34px;
}
.about__section__container__right__contant__sub__heading {
  font-size: 16px;
}
.contact__main__banner {
  width: 100%;
  position: relative;
}

.contact__banner__img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.contact__overlay {
  position: absolute;
  top: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.contact__overlay__svg svg {
  height: 80px;
}
.contact__overlay__text {
  font-size: 34px;
  font-size: 800;
  color: white;
}
.contact__cards__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 3em;
  flex-wrap: wrap;
}
.contact__map__main__container {
  width: 100%;
  position: relative;
  margin-top: -3em;
}
.contact__map__main__container__bg {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -999;
}
.contact__map__main__container__bg img {
  height: 500px;
}
.contact__map__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 530px;
  border-radius: 12px;
  padding: 0em 6.4em;
  max-width: 1440px;
  margin: 0 auto;
  z-index: -999;
}
.contact__map__wraper iframe {
  border-radius: 12px;
}
.footer__main__container {
  width: 100%;
  position: relative;
  background: url("../img/footerbg.png") no-repeat;
  border-top-right-radius: 200px;
  left: 0;
  right: 0;
  max-width: 1440px;
  margin: 0 auto;
}

.footer__contant__container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: white;
  padding: 2em;

  flex-wrap: wrap;
}
.footer__contact__col {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 2em;
  color: white;
}
.footer__contact__logo img {
  height: 70px;
}
.footer__contact__col:first-child {
  min-width: 30%;
}
.footer__contact__text {
  width: 100%;
  max-width: 300px;
  margin-top: 1em;
  color: white;
}
.footer__contact__col__heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1em;
  color: white;
}
.footer__contact__col__link {
  font-size: 16px;
  text-decoration: none;
  color: white;
  position: relative;
  margin: 9px 0px;
  margin-left: 2em;
}
.footer__contact__col__link:hover {
  transition: 300ms ease-in-out;
  color: $secondary;
}

.footer__contact__col__link::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2em;
  width: 12px;
  border-radius: 50px;
  height: 12px;
  background-color: $secondary;
  transition: 300ms ease-in-out;
}
.footer__contact__col__link__info {
  text-decoration: none;
  color: white;
  position: relative;
  left: -2em;
  margin: 5px 0px;
  margin-left: 2em;
}
.footer__contact__col__button {
  color: black;
  padding: 1em 2.6em;
  text-decoration: none;
  border-radius: 30px;
  margin-top: 2em;
  font-weight: 500;
  background-color: #bae1ff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 300ms ease-in-out;
}
.footer__contact__col__button:hover {
  background-color: $secondary;
  transition: 300ms ease-in-out;
  color: white;
}
.footer__main__container::after {
  content: "";
  position: absolute;
  top: -20px;
  right: -20px;
  width: 150px;
  height: 150px;
  border: 1px solid $secondary;
  border-radius: 150px;
}
.footer__main__container::before {
  content: "";
  position: absolute;
  top: 0px;
  right: -200px;
  width: 320px;
  height: 320px;
  border: 1px solid $primary;
  border-radius: 400px;
}
@media (max-width: 1200px) {
  .footer__contact__col {
    min-width: 35%;
    margin: 16px;
  }

  .about__overlay__laft__contant__heading__upper::after {
    top: 90%;
  }
  .about__overlay__laft__contant__heading {
    width: 75%;
    font-size: 30px;
  }
}
@media (max-width: 1000px) {
  .services__card__wraper img {
    height: 280px;
  }

  .sustain__section {
    height: 1300px;
  }
  .landing__services__container {
    margin-top: 17em;
  }
  .products__contant__wraper__card {
    width: 45%;
    z-index: 999;
  }
  .sustain__overlay__contant__wraper {
    flex-direction: column-reverse;
  }
  .sus__contant__wraper {
    width: 100%;
  }
  .sus__right__bg__img {
    justify-content: center;
  }
  .sus__right__bg__img img {
    display: none;
  }
  .about__overlay__right__contant img {
    height: 300px;
  }

  .about__overlay__laft__contant__heading {
    width: 88%;
  }
}

@media (max-width: 900px) {
  .about__overlay__contant__wraper {
    top: 10%;
  }
  .nav__bar__btn__menu {
    display: flex;
  }
  .nav__bar__contant {
    position: absolute;
    flex-direction: column;
    background-color: #b04600;
    color: white;
    margin-top: 3em;
    right: 0%;
    width: 180px;
    border-radius: 12px;
  }
}
@media (max-width: 950px) {
  .quotation__about__wraper {
    flex-direction: column-reverse;
  }

  .about__overlay__laft__contant {
    width: 100%;
    padding: 2em;
  }
  .about__overlay__contant__wraper {
    flex-direction: column-reverse;
  }
  .about__overlay__right__contant::before {
    height: 40%;
  }
  .about__overlay__right__contant::after {
    height: 44%;
  }
}
@media (max-width: 750px) {
  .contact__map__wraper {
    padding: 0em 1em;
    height: 400px;
  }
  .about__overlay__laft__contant__heading {
    font-size: 27px;
  }
  .about__overlay__laft__contant__heading__upper::after {
    top: 80%;
  }
}
@media (max-width: 550px) {
  .qua__img__left img {
    display: none;
  }
  .sustain__section__img img {
    height: 450px;
  }

  .sustain__section__contant__heading {
    font-size: 22px;
  }
  .sustain__section__contant__sub__heading {
    font-size: 16px;
  }
  .about__overlay__right__contant img {
    height: 250px;
  }

  .about__overlay__right__contant::before {
    display: none;
  }
  .about__overlay__right__contant::after {
    display: none;
  }
  .about__overlay__laft__contant__heading {
    font-size: 28px;
    line-height: 32px;
  }
}
@media (max-width: 450px) {
  .contact__overlay__svg svg {
    height: 50px;
  }
  .contact__overlay__text {
    font-size: 24px;
  }
  .contact__banner__img img {
    height: 300px;
  }
  .sustain__overlay__contant__wraper {
    padding: 0px 12px;
  }
  .about__overlay__laft__contant {
    height: 750px;
  }
  .about__overlay__laft__contant__heading {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 5px;
  }
  .about__overlay__contant__wraper {
    padding: 12px 0px;
  }
}
@media (max-width: 650px) {
  .landing__services__section {
    margin-top: 25.5em;
  }
  .landing__about__section__overlay img {
    height: 780px;
  }
  .about__overlay__laft__contant__heading__upper::after {
    display: none;
  }
  .products__contant__wraper__card {
    width: 90%;
  }
  .about__overlay__laft__contant {
    padding: 12px;
  }
}
