@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,200&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Quicksand:wght@300;400;500;600;700&display=swap");

$primary: #efefef;
$secondary: #b04600;
$color: #1e1e1e;

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  overflow-x: hidden;
  font-size: 16px;
}
.dropdown__list__nav {
  position: absolute;
  top: 4.5em;
  border-radius: 5px;
  display: flex;
  left: 0;
  right: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 3em 0em;
  background-color: #efefef;
  max-width: 1900px;
  margin: 0 auto;
  animation: dropdown__list__nav__animation 500ms both;
  transform-origin: top;
}
@keyframes dropdown__list__nav__animation {
  from {
    opacity: 0;
    top: 4em;
    transform: scaleY(0.9);
  }
  to {
    opacity: 1;
    top: 5em;
    transform: scaleY(1);
  }
}
.dropdown__svg svg {
  height: 80px;
  width: 80px;
}
.dropdown__link {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  text-decoration: none;
  color: black;
  margin: 0px 2em;
  font-size: 18px;
  padding: 1.5em 4em;
  border-radius: 5px;
}
.dropdown__link:hover {
  color: white;
  background-color: rgb(226, 224, 224);
  box-shadow: 8px 13px 18px #00000040;
  background-color: #000000;
}
.nav__bar__btn__menu {
  display: none;
  align-items: center;
}
.nav__btn {
  border: none;
  background-color: #b04600;
  border-radius: 6px;
  padding: 0em;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header__nav__bar__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0.5em 2em;
}

.nav__bar__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: $primary;
  z-index: 999;
}
.nav__bar__wraper__active {
  background-color: $primary;
}
.nav__bar__logo img {
  height: 60px;
}
.nav__bar__contant {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  transition: 0.1s ease-in-out;
  margin-top: -2em;
}
.nav__contant__links {
  font-weight: 500;
  text-decoration: none;
  padding: 1.5em 1em;
  padding-bottom: 0.7em;
  border-bottom-right-radius: 20px;
  color: black;
  margin: 0px 6px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 300ms ease-in-out;
  font-family: "Montserrat", sans-serif;
}
.nav__contant__links:hover {
  background-color: $secondary;
  color: white;
  transition: 300ms ease-in-out;
}
.nav__bar__contant .active {
  background-color: $secondary;
  color: white;
  font-weight: 600;
}
.landing__main__banner {
  width: 100%;
  padding-top: 2.4em;
}
.landingsecond__main__banner {
  width: 100%;
  padding-top: 11em;
}

.video__pause__wraper {
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 600px;
  overflow: hidden;
}
.videosecond__pause__wraper__pic img {
  height: 10px;
}
.videosecond__pause__wraper {
  position: relative;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-bottom-right-radius: 60px;
  border-top-left-radius: 60px;
  max-height: 400px;
  overflow: hidden;
}
.video__pause__wraper video {
  min-height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
}
.video__pause__wraper img {
  min-height: 100%;
  min-width: 100%;
}
.videosecond__pause__wraper video {
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 1;
}
.main__video__btn__container {
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.main__video__btn {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  border: none;
  position: relative;
  cursor: pointer;
  outline: none;
  background-color: $secondary;
}
.main__video__btn::before {
  position: absolute;
  content: "";
  background-color: $secondary;
  opacity: 0.7;
  height: 120px;
  width: 120px;
  border-radius: 80px;
  z-index: 1;
}
.main__video__btn svg {
  height: 30px;
  z-index: 1;
}
.landing__about__section {
  width: 100%;
  background: url(../img/aboutimg.png);
  background-size: cover;
  padding: 3em;
}
.landing__about__section__overlay {
  width: 100%;
}
.about__overlay__contant__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2em;
}
.about__overlay__laft__contant {
  width: 50%;
}
.about__overlay__laft__contant__heading__upper {
  font-size: 24px;
  font-weight: 600;
  color: $secondary;
  position: relative;
  font-family: "Montserrat", sans-serif;
}
.about__overlay__laft__contant__heading__upper::after {
  position: absolute;
  content: "";
  top: 10px;
  left: -300px;
  height: 4px;
  width: 290px;
  border-radius: 20px;
  background-color: $secondary;
}
.about__overlay__laft__contant__heading {
  font-size: 32px;
  font-weight: 700;
  width: 100%;
  max-width: 400px;
  line-height: 36px;
  margin-bottom: 12px;
  font-family: "Montserrat", sans-serif;
}
.about__overlay__laft__contant__sub__heading {
  width: 100%;
  max-width: 95%;
  line-height: 20px;
  font-family: "Jost", sans-serif;
}
.about__overlay__right__contant {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.about__overlay__right__contant img {
  width: 400px;
}
.about__overlay__right__contant::before {
  position: absolute;
  content: "";
  background-color: #c7ac9f;
  top: 0%;
  right: 45%;
  width: 270px;
  height: 100%;
  opacity: 0.2;
  z-index: -99;
}
.about__overlay__right__contant::after {
  position: absolute;
  content: "";
  border: 2px solid $secondary;
  top: 2%;
  right: 50%;
  width: 270px;
  height: 101%;
  opacity: 0.2;
  z-index: -999;
}
.products__contant__wraper {
  left: 0;
  right: 0;
  width: 100%;
  background: url(../img/gifproduct.gif);
  background-size: cover;
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
}
.products__contant__wraper__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -4em;
}
.products__contant__wraper__logo img {
  height: 120px;
}
.products__overlay__contant__wraper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
}
.products__contant__wraper__heading {
  font-size: 34px;
  font-weight: 700;
  color: $primary;
  margin-top: 3.5em;
  margin-bottom: 2em;
  font-family: "Montserrat", sans-serif;
}
.products__contant__wraper__cards__containaer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: -3em;
}
.products__contant__wraper__card {
  width: 30%;
  max-width: 300px;

  background-color: $primary;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom-right-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin: 12px;
  padding: 1em 2em;
  text-decoration: none;
  color: black;
}
.products__contant__wraper__card:hover {
  background-color: $secondary;
  color: $primary;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 0px;
  transition: 0.3s ease-in-out;
}
.products__contant__wraper__card:hover * {
  color: $primary;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 0px;
}
.products__contant__wraper__card__svg svg {
  margin-top: 1em;
  height: 70px;
  color: $secondary;
}
.products__contant__wraper__card__svg svg:hover {
  color: white;
}
.products__contant__wraper__card__heading {
  font-size: 20px;
  font-weight: 600;
  margin: 14px 0px;
  font-family: "Montserrat", sans-serif;
}
.products__contant__wraper__card__sub__heading {
  font-size: 14px;
  line-height: 17px;
  padding: 1.5em 0.8em;
  padding-top: 0;
  font-family: "Jost", sans-serif;
  text-align: justify;
}
.landing__services__section {
  width: 100%;
  background: url(../img/aboutimg.png);
  background-size: cover;
  padding: 2em 4em;
  padding-top: 0em;
}
.landing__services__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.landing__services__section img {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: flex-end;
}
.landing__services__section__heading {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 2em;
  margin-top: 3.5em;
  font-family: "Montserrat", sans-serif;
}
.services__cards__container {
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services__card__wraper {
  position: relative;
}
.services__card__wraper img {
  max-height: 420px;
  border-radius: 8px;
}
.services__card__contant {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  transition: 300ms ease-in-out;
  cursor: pointer;
  padding: 1em;
  border-radius: 12px;
}
.services__card__contant:hover {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
}
.services__card__heading {
  font-size: 24px;
  color: $primary;
  line-height: 90%;
  font-weight: 600;
  transform: translateY(90px);
  width: 100%;
  max-width: 200px;
  font-family: "Montserrat", sans-serif;
}
.services__card__sub__heading {
  color: $primary;
  line-height: 20px;
  transform: translateY(90px);
  opacity: 0;
  font-family: "Jost", sans-serif;
}
.services__card__contant:hover .services__card__heading {
  transition: 300ms ease-in-out;
  transform: translateY(-10px);
  font-family: "Jost", sans-serif;
}
.services__card__contant:hover .services__card__sub__heading {
  transition: 300ms ease-in-out;
  display: flex;
  transform: translateY(0px);
  opacity: 1;
}

.sustain__section {
  width: 100%;
  height: 100%;
  position: relative;
}

.sustain__overlay__contant__wraper {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2em 2em;
}
.sus__contant__wraper {
  width: 60%;
  padding: 2em;
}
.sustain__section__contant {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sustain__section__contant__heading {
  font-size: 34px;
  color: $secondary;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding: 12px 0px;
}
.sustain__section__contant__sub__heading {
  line-height: 24px;
  font-family: "Jost", sans-serif;
}
.sustain__section__contant__sub__heading__points {
  display: flex;
  flex-direction: column;
  font-family: "Jost", sans-serif;
  margin-top: 1em;
  padding-left: 1em;
}
.sustain__section__contant__sub__heading__points__item {
  margin: 9px 0px;
  font-weight: 700;
  font-family: "Jost", sans-serif;
  position: relative;
}
.sustain__section__contant__sub__heading__points__item::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 20px;
  background-color: $secondary;
  left: -18px;
  top: 7px;
}
.sustain__section__img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
.sustainability__bg__img__right {
  width: 100%;
  height: 100%;
  max-height: 750px;
  display: flex;
  justify-content: end;
}
.sustainability__bg__img__right img {
  width: 100%;
  max-width: 600px;
}
.sustain__section__img img {
  height: 100%;
  max-height: 700px;
}
.quotation__about__wraper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  padding: 2em 1em;
}

.qua__img__left {
  position: relative;
  margin-right: -2em;
  z-index: 1;
}
.qua__img__left img {
  height: 410px;
}
.qua__right__contant {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qua__overlay img {
  height: 385px;
}
.qua__contant__text {
  position: absolute;
  top: 22%;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  padding: 1em 2em;
}
.qua__right__contant__heading {
  font-size: 34px;
  font-weight: 700;
  width: 80%;
  line-height: 36px;
  text-align: center;
  margin: 0.5em 0em;
  font-family: "Montserrat", sans-serif;
}
.qua__right__contant__heading span {
  color: #e9662f;
  font-family: "Montserrat", sans-serif;
}
.qua__right__contant__sub__heading {
  text-align: center;
  line-height: 20px;
  font-family: "Jost", sans-serif;
}
.about__swiper__container {
  width: 100%;
}
.about__wraper__page {
  background-color: $color;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.about__police__contant__text {
  position: absolute;
  top: 28%;
  right: 0;
  padding: 2em 4em;
  margin-left: 4em;
  max-width: 100%;
}
.about__police__contant__text * {
  color: white;
}

.police__img__right img {
  height: 600px;
  position: relative;
  margin-left: -10em;
  margin-top: -5em;
}
.police__left__contant {
  position: relative;
}
.police__overlay {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.police__overlay img {
  width: 100%;
  max-width: 90%;
  height: 440px;
  margin: 4em;
}
.police__right__contant__heading {
  font-size: 34px;
  font-weight: 700;
  margin: 12px 0px;
  font-family: "Montserrat", sans-serif;
}
.police__right__contant__sub__heading {
  display: flex;
  justify-items: flex-start;
  line-height: 24px;
  font-size: 18px;
  max-width: 80%;
  font-family: "Jost", sans-serif;
}

.footer__containe {
  background-color: $secondary;
}
.about__header__container {
  width: 100%;
  margin: 0 auto;
  padding-top: 2em;
}
.about__main__header__video {
  position: relative;
  width: 100%;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 700px;
  overflow: hidden;
}

.about__main__header__video video {
  width: 100%;
}
.about__section__container {
  width: 100%;
  background: url(../img/aboutimg.png);
  background-size: cover;
  padding: 5em 0em;
}

.about__section__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  max-width: 1440px;
  margin: 0 auto;
}

.about__section__container__right__contant {
  width: 50%;
}

.about__section__container__img {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 14px;
}
.about__section__container__img::after {
  position: absolute;
  content: "";
  background-color: #e8e8e8;
  bottom: 0%;
  right: 3%;
  width: 190%;
  height: 220px;
  z-index: -999;
  border-top-right-radius: 30px;
}
.about__section__container__img::before {
  position: absolute;
  content: "";
  background-color: $secondary;
  border-top-right-radius: 30px;
  bottom: 0%;
  right: 3%;
  width: 190%;
  height: 180px;
  z-index: 0;
}

.about__section__container__img img {
  height: 440px;
  z-index: 99;
  padding-right: 2em;
}
.about__section__container__right__contant {
  width: 50%;
  padding: 0em 2em;
}
.about__section__container__right__contant__heading {
  font-size: 34px;
  font-weight: 800;
  padding: 0.6em 0em;
  line-height: 34px;
  font-family: "Montserrat", sans-serif;
}
.about__section__container__right__contant__sub__heading {
  line-height: 20px;
  font-family: "Jost", sans-serif;
}
.contact__main__banner {
  width: 100%;
  position: relative;
}

.contact__banner__img img {
  width: 100%;
  height: 100%;
  min-height: 550px;
  object-fit: cover;
}
.contact__overlay {
  position: absolute;
  top: 45%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.contact__overlay__svg svg {
  height: 80px;
}
.contact__overlay__text {
  font-size: 34px;
  font-size: 800;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.contact__cards__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 2em;
}
.contact__card {
  width: 25%;
  max-height: 250px;
  border: 1px solid $color;
  background-color: white;
  z-index: 1;
  padding: 2em;
  margin: 0.6em;
  cursor: pointer;
  border-radius: 14px;
}
.contact__card__svg svg {
  height: 60px;
  margin-top: 2em;
}
.contact__card__heading {
  font-weight: 700;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}
.contact__card:hover {
  background-color: $secondary;
  color: white;
  border-color: $secondary;
}
.contact__card:hover * {
  color: white;
}
.contact__card__text {
  font-family: "Jost", sans-serif;
}
.contact__map__main__container {
  width: 100%;
  position: relative;
  margin-top: -3em;
}
.contact__map__main__container__bg {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -999;
}
.contact__map__main__container__bg img {
  height: 500px;
}
.contact__map__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 530px;
  border-radius: 12px;
  padding: 0em 6.4em;
  max-width: 1440px;
  margin: 0 auto;
  z-index: -999;
}
.contact__map__wraper iframe {
  border-radius: 12px;
}
.footer__main__container {
  width: 100%;
  position: relative;
  background: url("../img/footerbg.png");
  border-top-right-radius: 295px;
  background-size: cover;
  background-color: rgba(0, 0, 139, 0.548);
}

.footer__contant__container {
  width: 100%;
  display: flex;

  align-items: flex-start;
  justify-content: space-between;
  color: white;
  padding: 2em;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
}
.footer__contact__col {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 2em;
  color: white;
}
.footer__contact__logo img {
  height: 70px;
}
.footer__contact__col:first-child {
  min-width: 30%;
}
.footer__contact__text {
  width: 100%;
  max-width: 300px;
  margin-top: 1em;
  color: white;
  font-family: "Jost", sans-serif;
}
.footer__contact__col__heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1em;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.footer__contact__col__link {
  text-decoration: none;
  color: white;
  position: relative;
  margin: 9px 0px;
  margin-left: 2em;
  font-family: "Jost", sans-serif;
}
.footer__contact__col__link:hover {
  transition: 300ms ease-in-out;
  color: white;
  text-decoration: underline;
}

.footer__contact__col__link::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2em;
  width: 12px;
  border-radius: 50px;
  height: 12px;
  background-color: white;
  transition: 300ms ease-in-out;
}
.footer__contact__col__link__info {
  text-decoration: none;
  color: white;
  position: relative;
  left: -2em;
  margin: 5px 0px;
  margin-left: 2em;
}
.footer__contact__col__button {
  color: black;
  padding: 0.6em 2.9em;
  text-decoration: none;
  border-radius: 30px;
  margin-top: 2em;
  font-weight: 500;
  background-color: #bae1ff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 300ms ease-in-out;
}
.footer__contact__col__button:hover {
  background-color: $secondary;
  transition: 300ms ease-in-out;
  color: white;
}
.footer__main__container::after {
  content: "";
  position: absolute;
  top: -20px;
  right: -20px;
  width: 150px;
  height: 150px;
  border: 1px solid $secondary;
  border-radius: 150px;
}
.footer__main__container::before {
  content: "";
  position: absolute;
  top: 0px;
  right: -200px;
  width: 320px;
  height: 320px;
  border: 1px solid $primary;
  border-radius: 400px;
  opacity: 0.4;
}
.about__vision__container {
  width: 100%;
  background: url(../img/aboutimg.png);
  background-size: cover;
  padding: 5em 0em;
}

.vision__and__mission {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  left: 0;
  right: 0;
  max-width: 1440px;
  margin: 0 auto;
}
.vision__container__left {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 45%;
  min-width: 200px;
  padding: 1em;
}
.mid__line__about__vision {
  height: 410px;
  width: 2px;
  border-radius: 12px;
  background-color: $color;
  margin: 0em 2em;
  opacity: 0.5;
}
.vision__container__vision__svg {
  position: relative;
  margin: 2em 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  height: 160px;
  width: 160px;
  background-color: #464646;
  border-radius: 100px;
  transition: 300ms ease-in-out;
}
.vision__container__vision__boderline {
  border: 1px solid black;
  transition: 300ms ease-in-out;
  padding: 1em;
  height: 190px;
  width: 190px;
  position: absolute;
  border-radius: 100px;
  margin: 2em 0em;
}
.vision__container__vision__svg:hover .vision__container__vision__boderline {
  border-color: transparent;
}

.vision__container__vision__svg:hover {
  background-color: #b04600;
  transition: 300ms ease-in-out;
}
.vision__container__vision__svg svg {
  height: 450px;
  width: 100px;

  padding: 1em;
  z-index: 1;
}
.vision__container__vision__svg::before {
  position: absolute;
  content: "";
  background-color: $secondary;
  opacity: 0.4;
  height: 180px;
  width: 180px;
  border-radius: 90px;
  display: none;
  transition: 300ms ease-in-out;
}

.vision__container__vision__svg::before {
  position: absolute;
  content: "";
  background-color: $secondary;
  opacity: 0.4;
  height: 190px;
  width: 190px;
  border-radius: 90px;
  display: none;
  transition: 300ms ease-in-out;
}

.vision__container__vision__svg:hover::before {
  display: flex;
  transition: 300ms ease-in-out;
}
.vision__container__vision__title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 0.4em;
  font-family: "Montserrat", sans-serif;
}
.vision__container__vision__info {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  font-family: "Jost", sans-serif;
}
.about__team__section {
  width: 100%;
  background-color: white;
  background-image: linear-gradient(#ffffff, #dbdbdb);
  margin-top: 4em;
}

.about__team__heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.about__team__section__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2em 0em;
}
.about__team__section__wraper__card {
  width: 30%;
  padding: 2em;
}

.about__team__section__wraper__card__svg img {
  height: 220px;
  position: relative;
  margin-bottom: -3em;
  opacity: 0.4;
}
.about__team__section__wraper__card__title {
  font-size: 24px;
  font-weight: 600;
  margin: 22px 0px;
  font-family: "Montserrat", sans-serif;
}
.about__team__section__wraper__card__info {
  line-height: 20px;
  font-family: "Jost", sans-serif;
}
.Strategic__container {
  width: 100%;
  background: url(../img/aboutimg.png);
  background-size: cover;
}
.Strategic__container__contant {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3em;
  max-width: 1440px;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding: 3em 2em;
}
.Strategic__container__contant__text {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Strategic__container__contant__text__heading {
  font-size: 30px;
  font-weight: 700;
  width: 50%;
  line-height: 30px;
  margin: 0.6em 0em;
  font-family: "Montserrat", sans-serif;
}
.Strategic__container__contant__text__sun__heading {
  font-size: 18px;
  line-height: 22px;
  width: 80%;
  font-family: "Jost", sans-serif;
}
.Strategic__container__contant__img {
  width: 50%;
  display: flex;
  justify-content: center;
}
.Strategic__container__contant__img img {
  height: 450px;
}
.Vendor__container {
  width: 100%;
  padding: 1em 0em;
  padding-bottom: 4em;
}
.Vendor__container__heading {
  font-size: 30px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0em;
  font-family: "Montserrat", sans-serif;
}
.Vendor__card__wraper__info {
  font-weight: 600;
  margin: 7px 0px;
  font-size: 18px;
  font-family: "Jost", sans-serif;
}
.Vendor__card__wraper {
  width: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.4s ease-in-out;
  height: 300px;
}
.Vendor__card__wraper:hover {
  transform: scale(1.11);
}

.vendor__card__wraper__container {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
}
.Vendor__card__wraper__img img {
  height: 190px;
}

.products__knitted__container {
  width: 100%;
  position: relative;
}
.products__knitted__container img {
  width: 100%;
  height: 400px;
}
.knitted__products__cards__wraper {
  width: 100%;
  background: url(../img/knittedheader.png);
  position: relative;
  background-size: cover;
}
.product__card__wraper__img img {
  width: 100%;
  height: 700px;
}
.knitted__card__components__contaniner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5em 1em;
}
.knitted__card__wraper {
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  padding: 1.5em 2em;
  transition: 300ms ease-in-out;
  margin: 0.6em 1em;
  border-radius: 5px;
}
.knitted__card__wraper:hover {
  background-color: $secondary;
}
.knitted__card__wraper:hover * {
  color: $primary;
}
.knitted__card__wraper__svg svg {
  width: 45px;
  height: 45px;
  fill: $secondary;
}
.knitted__card__wraper:hover .knitted__card__wraper__svg svg {
  fill: $primary;
}

.knitted__card__contant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0em 1em;
  padding-right: 0em;
}
.knitted__card__contant__heading {
  font-size: 22px;
  margin: 6px 0px;
  font-weight: 600;
  color: $secondary;
  font-family: "Montserrat", sans-serif;
}
.knitted__card__contant__imfo {
  font-family: "Jost", sans-serif;
}

.main__header__swiper {
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
}
.knitted__swiper__products {
  width: 100%;
  background-color: #ae907d;
}
.knitted__filter__imgs__swiper {
  width: 100%;
}
.knitted__filter__imgs__swiper img {
  width: 100%;
  height: 280px;
  padding: 1em;
}
.worker__container {
  width: 100%;

  background: url(../img/knittedheader.png);
  background-size: cover;
  padding: 4em 0em;
}
.worker__wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2em;
}

.worker__container__left {
  width: 50%;
}
.worker__container__left__contant {
  font-size: 18px;
  font-family: "Jost", sans-serif;
}
.worker__container__righr {
  width: 50%;
}
.worker__container__righr img {
  height: 500px;
}
.knitted__product__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4em 0em;
}
.knitted__product__container__heading {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 34px;
  font-weight: 800;
  color: $secondary;
  opacity: 0.8;
  margin-bottom: 1em;
  font-family: "Montserrat", sans-serif;
}
.knitted__product__container__filter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 1em;
}
.knitted__product__container__filter__card {
  position: relative;
  margin: 0px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.knitted__input__checked__input {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 300ms ease-in-out;
}
.knitted__input__checked {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5em 1.5em;
  padding-top: 1.8em;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.knitted__input__checked__input:hover ~ .knitted__input__checked,
.knitted__input__checked__input:checked ~ .knitted__input__checked {
  background-color: #b04600;
  color: white;
  transition: 300ms ease-in-out;
}
.knitted__product__container__filter__card__svg {
  color: #a8a8a8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.knitted__product__container__filter__card__svg svg {
  width: 80px;
  height: 80px;
}
.knitted__product__container__filter__card__info {
  font-size: 18px;
  font-weight: 800;
  font-size: 700;
  padding: 8px 0px;
  font-family: "Jost", sans-serif;
}

.knitted__input__checked__input:hover
  ~ .knitted__input__checked
  .knitted__product__container__filter__card__info,
.knitted__input__checked__input:checked
  ~ .knitted__input__checked
  .knitted__product__container__filter__card__info {
  color: white;
}
.knitted__input__checked__input:hover
  ~ .knitted__input__checked
  .knitted__product__container__filter__card__svg,
.knitted__input__checked__input:checked
  ~ .knitted__input__checked
  .knitted__product__container__filter__card__svg {
  color: white !important;
}
@media (max-width: 1200px) {
  .police__overlay img {
    height: 385px;
    max-width: 100%;
    margin: 0em;
  }
  .about__police__contant__text {
    align-items: center;
    margin-left: 0em;
  }
  .police__right__contant__sub__heading {
    text-align: center;
    max-width: 100%;
  }
  .police__right__contant__heading {
    font-size: 28px;
    margin: 8px 0px;
    text-align: center;
    margin-bottom: 1em;
  }

  .Strategic__container__contant__text__heading {
    width: 60%;
  }
  .Strategic__container__contant__text__sun__heading {
    width: 95%;
  }
  .about__police__contant__text {
    top: 20%;
  }
  .police__img__right {
    display: none;
  }
  .police__overlay {
    margin: 1em 0em;
    width: 100%;
  }
  .police__left__contant {
    padding: 1em;
  }
  .about__wraper__page {
    justify-content: center;
  }
  .footer__contact__col {
    min-width: 35%;
    margin: 16px;
  }

  .about__overlay__laft__contant__heading {
    font-size: 30px;
  }
  .sustain__section__img img {
    max-height: 600px;
  }
  .sustainability__bg__img__right {
    max-height: 650px;
  }
  .sustain__section {
    height: 1250px;
  }
  .sustain__overlay__contant__wraper {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  .sus__contant__wraper {
    width: 100%;
    padding: 2em 2em;
  }
  .sustain__section__img {
    width: 100%;
  }
  .about__overlay__right__contant::before {
    left: 50px;
  }
  .about__overlay__right__contant::after {
    left: 30px;
  }
}
@media (max-width: 1000px) {
  .services__card__sub__heading {
    transform: translateY(150px);
  }
  .services__card__heading {
    font-size: 20px;
    font-weight: 600;
    transition: 300ms ease-in-out;
    transform: translateY(150px);
  }
  .about__section__wraper {
    flex-direction: column;
  }
  .about__section__container__right__contant {
    width: 100%;
    padding: 2em 1em;
  }
  .contact__card {
    width: 47%;
  }
  .footer__main__container {
    overflow: hidden;
  }

  .products__contant__wraper__card {
    width: 45%;
  }
  .sustain__overlay__contant__wraper {
    flex-direction: column-reverse;
    height: 1300px;
  }
  .sus__contant__wraper {
    width: 100%;
  }

  .sus__right__bg__img img {
    display: none;
  }
}

@media (max-width: 900px) {
  .dropdown__list__nav {
    position: relative;
    top: 10px;
    left: 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    background-color: #e7e7e7;
    padding: 0.5em 2em;
    margin-top: 14px;
  }
  @keyframes dropdown__list__nav__animation {
    from {
      opacity: 0;
      top: 0em;
      transform: scaleY(0);
    }
    to {
      opacity: 1;
      top: 0em;
      transform: scaleY(none);
    }
  }
  .dropdown__svg svg {
    display: none;
  }
  .dropdown__link:hover {
    color: black;
    background-color: rgb(226, 224, 224);
    box-shadow: 8px 13px 18px #00000040;
  }
  .dropdown__link {
    flex-direction: column;
    padding: 0.5em 0em;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
  }
  .dropdown__link:hover {
    box-shadow: none;
  }
  .qua__img__left img {
    display: none;
  }

  .nav__bar__btn__menu {
    display: flex;
    z-index: 9999;
  }
  .nav__bar__contant {
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #efefef;
    color: $secondary;
    right: 0px;
    top: 0px;
    width: 100%;
    max-width: 300px;
    height: 100vh;
    margin-top: 0em;
    animation: nav__bar__contant__animation 300ms both;
    transform-origin: right;
    transition: 0.1s ease-in-out;
    padding: 1em;
  }
  .nav__contant__links {
    display: flex;
    align-items: center;
    padding: 2px 0px;
    border-radius: 0px;
    margin: 0.5em 0px;
    width: 100%;
    transition: 300ms ease-in-out;
    flex-direction: column;
  }
  .nav__bar__contant .active {
    font-size: 20px;
    background-color: transparent;
    color: $secondary;
  }
  .nav__contant__links:hover {
    background-color: transparent;
    color: $secondary;
    transition: 300ms ease-in-out;
  }
  @keyframes nav__bar__contant__animation {
    from {
      opacity: 0;
      transform: translateX(180px);
      overflow: hidden;
    }
    to {
      opacity: 1;
      transform: translateX(0px);
      overflow: auto;
    }
  }
  .sustain__section {
    height: 1300px;
  }
}
@media (max-width: 950px) {
  .services__card__sub__heading {
    transform: translateY(105px);
  }
  .services__card__heading {
    transition: 300ms ease-in-out;
    transform: translateY(105px);
  }
  .worker__wraper {
    flex-direction: column-reverse;
  }
  .worker__container__left {
    padding: 2em 0em;
    width: 100%;
  }
  .Strategic__container__contant__img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Strategic__container__contant {
    flex-direction: column-reverse;
  }
  .Strategic__container__contant__img img {
    height: 350px;
  }
  .Strategic__container__contant__text {
    width: 100%;
  }
  .about__team__section__wraper__card {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .vision__container__left {
    padding: 12px;
  }
  .vision__container__vision__svg svg {
    height: 100px;
    margin: 12px 0px;
  }
  .vision__container__vision__title {
    font-size: 24px;
  }
  .vision__container__vision__info {
    font-size: 14px;
    line-height: 20px;
  }

  .about__overlay__laft__contant {
    width: 100%;
    padding: 2em;
  }
  .about__overlay__contant__wraper {
    flex-direction: column-reverse;
  }
  .about__overlay__right__contant::before {
    height: 100%;
    width: 52%;
  }
  .about__overlay__right__contant::after {
    height: 102%;
    width: 55%;
  }
  .about__overlay__right__contant img {
    height: 350px;
  }
  .sustain__section {
    height: 1300px;
  }
}
@media (max-width: 800px) {
  .sustainability__bg__img__right img {
    max-height: 550px;
  }
  .sustain__section__img img {
    max-height: 500px;
  }
}
@media (max-width: 750px) {
  .worker__wraper {
    align-items: flex-start;
  }
  .Strategic__container__banner img {
    display: none;
  }
  .Strategic__container__contant {
    position: relative;
  }
  .vision__and__mission {
    position: unset;
  }
  .mid__line__about__vision {
    display: none;
  }
  .vision__container__left {
    margin: 0.7em;
  }

  .contact__card {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
  }
  .footer__contact__col {
    min-width: 50%;
  }
  .footer__contact__col:first-child {
    min-width: 50%;
  }
  .contact__map__wraper {
    padding: 0em 2em;
    height: 600px;
  }

  .video__pause__wraper {
    height: 300px;
  }
}
@media (max-width: 650px) {
  .services__card__sub__heading {
    transform: translateY(70px);
  }
  .services__card__heading {
    transition: 300ms ease-in-out;
    transform: translateY(70px);
  }
  .products__contant__wraper {
    margin-top: 2em;
  }

  .qua__overlay img {
    height: 300px;
  }
  .products__contant__wraper__card__heading {
    margin: 7px 0px;
  }
  .products__contant__wraper__card {
    padding: 1em;
  }
  .police__right__contant__sub__heading {
    max-width: 100%;
  }
  .police__right__contant__heading {
    font-size: 28px;
  }
  .sustain__section__contant__heading {
    font-size: 28px;
  }
  .qua__right__contant__heading {
    font-size: 24px;
    line-height: 24px;
  }
  .worker__container__righr img {
    height: 320px;
  }
  .worker__container {
    padding: 1.5em 0em;
  }
  .about__main__header__video video {
    height: 220px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .Vendor__container__heading {
    font-size: 22px;
  }
  .Strategic__container__contant__img {
    width: 85%;
  }
  .Strategic__container__contant__text__heading {
    font-size: 24px;
    line-height: 28px;
  }

  .about__section__container__right__contant__heading {
    font-size: 24px;
    line-height: 28px;
    margin-top: 16px;
  }
  .about__section__wraper {
    position: unset;
  }
  .about__section__container__img img {
    height: 250px;
  }
  .about__section__container__img::before {
    height: 120px;
  }
  .about__section__container__img::after {
    height: 150px;
  }
  .contact__card__svg svg {
    height: 49px;
    margin-top: 1em;
  }

  .contact__card__text {
    font-size: 14px;
  }
  .contact__card {
    min-height: 180px;
  }
  .main__video__btn {
    height: 50px;
    width: 50px;
  }
  .main__video__btn svg {
    height: 20px;
  }

  .products__contant__wraper__card {
    width: 80%;
  }
  .about__overlay__laft__contant {
    padding: 12px;
  }
  .sustain__section {
    min-height: 1390px;
  }
}

@media (max-width: 600px) {
  .sustainability__bg__img__right {
    display: none;
  }
  .sustain__section__img {
    align-items: flex-start;
  }
  .sustain__section {
    min-height: 1350px;
  }
  .qua__contant__text {
    top: 18%;
    padding: 1em 1em;
  }
  .qua__contant__text {
    top: 20%;
    padding: 1em 1.5em;
  }
}
@media (max-width: 550px) {
  .landingsecond__main__banner {
    padding-top: 7em;
    padding-bottom: 2em;
  }
  .videosecond__pause__wraper {
    width: 90%;
  }
  .knitted__product__container__filter__card__svg svg {
    height: 60px;
  }
  .knitted__product__container__filter__card__info {
    padding: 20px;
    font-size: 16px;
  }
  .about__section__container {
    padding: 1em 0em;
  }
  .about__section__container__right__contant {
    padding: 0em 1.5em;
  }
  .about__vision__container {
    padding: 1em 0em;
  }
  .Vendor__container {
    padding: 3em 0em;
  }
  .products__contant__wraper__heading {
    font-size: 24px;
  }
  .landing__services__section {
    padding: 1em;
  }
  .landing__services__section__heading {
    font-size: 24px;
  }
  .knitted__card__contant__imfo {
    font-weight: 14px;
    font-family: "Jost", sans-serif;
  }
  .knitted__card__wraper__svg svg {
    height: 50px;
  }
  .knitted__card__contant__heading {
    font-size: 18px;
  }
  .vision__container__left {
    width: 90%;
  }
  .Strategic__container__contant__text__heading {
    width: 100%;
  }
  .Strategic__container__contant__img img {
    height: 260px;
  }
  .vision__container__left {
    padding: 0px;
  }

  .about__overlay__right__contant img {
    height: 250px;
  }
  .about__overlay__right__contant::before {
    display: none;
  }
  .about__overlay__right__contant::after {
    display: none;
  }
  .about__overlay__laft__contant__heading {
    font-size: 28px;
    line-height: 32px;
  }
  .sustain__overlay__contant__wraper {
    padding: 0em 0em;
  }

  .about__police__contant__text {
    padding: 2em 3em;
  }
}
@media (max-width: 500px) {
  .sustain__section {
    min-height: 1400px;
  }
}
@media (max-width: 450px) {
  // .services__card__sub__heading {
  //   transform: translateY(10px);
  // }
  // .services__card__heading {
  //   transition: 300ms ease-in-out;
  //   transform: translateY(10px);
  // }
  .about__overlay__contant__wraper {
    padding: 1em;
  }
  .landing__about__section {
    padding: 0em;
  }

  .sustain__section__contant__sub__heading__points__item {
    margin: 4px 0px;
  }
  .sustain__section__contant__sub__heading {
    font-size: 16px;
  }
  // .police__overlay img {
  //   height: 310px;
  // }
  .about__police__contant__text {
    padding: 1em 2em;
  }
  .main__video__btn::before {
    height: 80px;
    width: 80px;
  }
  .nav__bar__logo img {
    height: 40px;
  }

  .contact__overlay__svg svg {
    height: 50px;
  }
  .contact__overlay__text {
    font-size: 24px;
  }
  .contact__banner__img img {
    height: 350px;
  }

  .about__overlay__laft__contant__heading {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 5px;
  }
  .sustain__section {
    height: 1450px;
  }
  .police__right__contant__heading {
    margin-bottom: 0.2em;
  }
}
@media (max-width: 400px) {
  .sustain__section {
    height: 1480px;
    min-height: 1480px;
  }
  .sustain__section__img img {
    height: 400px;
  }
  .footer__main__container {
    border-top-right-radius: 230px;
  }
  .qua__contant__text {
    top: 18%;
    padding: 1em 1em;
  }
  .about__police__contant__text {
    top: 17%;
  }
}
